<div class="url">
    <span class="long">
        <a href="<%= model.longUrl %>"><%= model.longUrl %></a>
    </span>
    <span class="short">
        <a href="<%= model.id %>"><%= model.id %></a>
    </span>
</div>